<nav class="navbar navbar-expand-lg colorNav fix">
    <div class="container-fluid">
        <a class="navbar-brand title">DÄZABI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ayuda']">Ayuda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/historial']">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/perfil']">Mi perfil</a>
                </li>
                <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
            </ul>
        </div>
    </div>
</nav>

<div class="section-title pad">
    <h2>Bienvenido</h2>
    <p>{{usuario}}</p>
</div>
<main id="main">


    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <p>Puntos disponibles</p>
                    <span>390</span>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <p>Colillas</p>
                    <span>15000</span>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <p>Puntos acumulados</p>
                    <span>500</span>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <p>Recompensas</p>
                    <span>2</span>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->



    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Recompensas</h2>
                <p>Recompensas populares</p>
            </div>

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="assets/main/img/course-1.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Web Development</h4>
                                <p class="price">$169</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <img src="assets/main/img/course-2.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Marketing</h4>
                                <p class="price">$250</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <img src="assets/main/img/course-3.jpg" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>Content</h4>
                                <p class="price">$180</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>

        </div>
    </section><!-- End Popular Courses Section -->



</main><!-- End #main -->