<!-- ======= Header ======= -->
<header id="header" class="fixed-top heros">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a>DÄZABI</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a [routerLink]="['/main']">Incio</a></li>
                <li><a class="active">Ayuda</a></li>
                <li><a [routerLink]="['/historial']">Historial</a></li>
                <li><a [routerLink]="['/perfil']">Mi perfil</a></li>
                <a class="btn btn-salir"><i class="fas fa-sign-out-alt"></i></a>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->