<nav class="navbar navbar-expand-lg colorNav">
   <div class="container-fluid">
      <a class="navbar-brand"><img src="../../../assets/img/icono/Logo_margarita_lila_500_300_px.svg" width="25%"></a>
      <!-- <a class="navbar-brand title">DÄZABI</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
               <a class="navText" [routerLink]="['/home']">Inicio</a>
            </li>

         </ul>
      </div>
   </div>
</nav>

<div class="container">
   <div class="p-5" align="center">
      <div class="card">
      <div class="card-header text-center">
         <h3 class="fw-bold">Iniciar sesión</h3>
      </div>
      <div class="card-body">
         <form autocomplete="off" [formGroup]="miFormulario">

            <div class="mb-3 row justify-content-md-center" align="center">
               <div class="col-12">
                  <label class="form-label fw-bold">Email:</label>
                  <input type="email" class="form-control" formControlName="correo"
                     placeholder="Ingrese su correo electronico" [pattern]="emailCheck">
                  <div>
                     <span *ngIf="emailReq()" class="form-text text-danger">
                        Dirección de correo no válida</span>
                  </div>
                  <span *ngIf="emailPattern()" class="form-text text-danger">
                     Patrón incorrecto</span>
               </div>
            </div>

            <div class="mb-3 row justify-content-md-center" align="center">
               <div class="col-12">
                  <label class="form-label fw-bold">Contraseña:</label>
                  <input type="password" class="form-control" formControlName="contraseña"
                     placeholder="Ingrese su contraseña">
                  <span class="form-text text-danger" *ngIf="campoValido('contraseña')">Mínimo 8 caracteres</span>
               </div>
            </div>

            <div class="mb-3 row text-center">
               <div class="col">
                  <button type="submit" [disabled]="miFormulario.invalid" class="btn  btn-primary btn-lg"
                     (click)="save()">
                     Iniciar sesión
                  </button>
               </div>
            </div>
            <div class="mb-3 row text-center">
               <div class="col">
                  Aún no tienes cuenta? <a [routerLink]="['/registro']">Click aquí</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
   </div>