<nav class="navbar navbar-expand-lg colorNav fix">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../../../assets/img/icono/Logo_margarita_lila_500_300_px.svg" width="25%"></a>
    <!-- <a class="navbar-brand title">DÄZABI</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#hero">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">Conócenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Avances</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
        <li class="nav-item">
          <button class="colorbutton1" [routerLink]="['/login']">Iniciar sesión</button>
        </li>
        <li class="nav-item">
          <button class="colorbutton2" [routerLink]="['/registro']">Registrarse</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center opacity-100">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="50">
        <h1>Vida marina</h1>
        <h2>Las colillas de cigarro son en extremo un factor contaminante de los oceanos, se crea una herramienta que
          ayude a crear conciencia e incentivar el reciclaje de las mismas mediante recompensas en colaboración con
          empresas que piensan en el medio ambiente.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started scrollto">Comienza</a>
          <a href="https://youtu.be/T_od3nS6WAU" target="_blank" class="glightbox btn-watch-video"><i
              class="bi bi-play-circle"></i><span>Ver video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <!-- <img src="assets/img/ocean-2021-08-29-20-01-29-utc.jpg" class="img-fluid animated" alt=""> -->
        <!-- <img src="assets/img/ocean-splash-2021-11-07-06-30-55-utc.jpg" class="img-fluid animated" alt=""> -->
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row" data-aos="zoom-in">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/img/empresas/Microsoft-Logo-PNG.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/img/empresas/CocaCola-Logo-PNG.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/img/empresas/Telcel-Logo-PNG.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/img/empresas/UberEats-Logo-PNG.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/img/empresas/Cinepolis-Logo-PNG.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="assets/img/empresas/Arbnb-Logo-PNG.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row content">
        <div class="col-lg-6">

          <div class="section-title">
            <h2>Misión</h2>
          </div>
          <p>
            Restaurar y proteger nuestros océanos y aguas rinde homenaje al recurso más preciado de nuestro planeta: sus
            aguas, fuente de vida. Trasmitiendo un sentido de admiración y asombro ante el océano.
          </p>

        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">

          <div class="section-title">
            <h2>Visión</h2>
          </div>
          <p>
            Ser reconocidos a nivel nacional como una ONG líder en concientización e innovación ecológica.
          </p>
          <a href="https://github.com/Braquetes/Waste2Money/" target="_blank" class="btn-learn-more">Leer más</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

          <div class="content">
            <h3>Valores</h3>
          </div>

          <div class="accordion-list">
            <ul>
              <li>
                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>Amor
                    ecológico</span><i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    Basamos las acciones de nuestra ONG en el sentimiento de conservar, cuidar y respetar el planeta.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>Conciencia
                    ecológica</span><i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Tratamos de concientizar sobre el impacto que tiene la acción negativa humana sobre el planeta.
                    Influyendo en un accionar responsable y positivo para el mundo.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3"
                  class="collapsed"><span>Innovación</span><i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Utilizamos como pilar la innovación para hacer eficientes los procesos y así, ser un mercado
                    atractivo tanto para la sociedad como para empresas privadas con gusto por contribuir a la causa.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4"
                  class="collapsed"><span>Confianza</span><i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Consideramos la confianza como valor fundamental para incentivar la participación y conciencia sobre
                    las acciones que realizamos.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5"
                  class="collapsed"><span>Sostenibilidad</span><i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Tenemos la sostenibilidad como valor fundamental, ya que consideramos importante tener continuidad
                    en los procesos al punto de crear hábitos que ayuden al ambiente.
                  </p>
                </div>
              </li>

              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-6"
                  class="collapsed"><span>Participación</span><i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-6" class="collapse" data-bs-parent=".accordion-list">
                  <p>
                    Fomentamos los principios democráticos y participativos como medios necesarios para la
                    transformación social y como fin inherente al desarrollo.
                  </p>
                </div>
              </li>

            </ul>
          </div>

        </div>

        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style='background-image: url("https://news.microsoft.com/wp-content/uploads/prod/sites/61/2019/07/turtle-transparent-768x510.png");'
          data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>

    </div>
  </section><!-- End Why Us Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Noticias</h2>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a>¿Cuáles son las causas de la contaminación marina?</a></h4>
            <p>Los plásticos ya han conquistado los lugares más remotos e inaccesibles del planeta. Mientras, un tratado
              internacional para regular la contaminación cobra impulso.</p>
            <strong>POR Redaction National Geographic</strong>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a>Contaminación del mar y las costas</a></h4>
            <p>Una contaminación prolongada puede afectar a los ecosistemas marinos y costeros y hacer peligrar los
              medios de vida de comunidades enteras.</p>
            <strong>POR IAEA</strong>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a>Las playas más contaminadas de México</a></h4>
            <p>Si viajas a la playa en tus próximas vacaciones en México, hay buenas noticias, ya que 267 de 268 playas
              mexicanas, albergadas en 65 centros turísticos tienen niveles aceptables de contaminación.</p>
            <strong>POR Mundukos</strong>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a>La contaminación plástica del océano en México es monumental</a></h4>
            <p>Pues cada día, el océano recibe una Torre Latinoamericana de plásticos de un solo uso innecesarios.</p>
            <strong>POR Animalpolitico</strong>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Avances</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <li data-filter=".filter-app">App</li>
        <li data-filter=".filter-card">Card</li>
      </ul>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>App 1</h4>
            <p>App</p>
            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>App 2</h4>
            <p>App</p>
            <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>Card 2</h4>
            <p>Card</p>
            <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>Card 1</h4>
            <p>Card</p>
            <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
          <div class="portfolio-info">
            <h4>Card 3</h4>
            <p>Card</p>
            <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
              class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Equipo</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="pic"><img src="https://avatars.githubusercontent.com/u/67239474?v=4" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>Edgar Rodolfo Braquetes López</h4>
              <span>Front-end Developer</span>
              <p>Estudiante compremetido con el medio ambiente.</p>
              <div class="social">
                <a href="https://github.com/Braquetes" target="_blank"><i class="ri-github-fill"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
            <div class="pic"><img src="assets/img/team/Luis.jpeg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Luis Angel Baraja</h4>
              <span>Back-end Developerr</span>
              <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
              <div class="social">
                <a href="https://github.com/BarajasAngel" target="_blank"><i class="ri-github-fill"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="assets/img/team/Ingrid.jpeg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Ingrid Berenice Bautista</h4>
              <span>Front-end Developer</span>
              <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
              <div class="social">
                <a href="https://github.com/IngridBandgel" target="_blank"><i class="ri-github-fill"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="assets/img/team/gomez.jpeg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Gabriel Gómez</h4>
              <span>Front-end Developer</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
              <div class="social">
                <a href="https://github.com/gomez50057" target="_blank"><i class="ri-github-fill"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
            <div class="pic"><img src="https://avatars.githubusercontent.com/u/42740473?v=4" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4> Juan Hernandez </h4>
              <span>Back-end Developer</span>
              <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
              <div class="social">
                <a href="https://github.com/grayTurtle01" target="_blank"><i class="ri-github-fill"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Preguntas frecuentes</h2>
        <p>Muchas veces hemos escuchado que las playas estan cada vez mas contaminadas y talvez nosotros nunca hemos
          tirado alguna basura en estos lugares,
          pero no es la unica manera de contaminar y en este apartado te podemos explicar como todos sin excepción
          contribuimos en la contaminación y como podemos frenarlo.
        </p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
              data-bs-target="#faq-list-1">¿Qué tan afectan las colillas al mar?<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Las colillas no solo contaminan las aguas de los océanos con su presencia. Las colillas de cigarrillos
                también acaban en los estómagos de los peces al ingerirlas. Al hacerlo, consumen las toxinas que tienen
                las colillas. Además del daño a los ecosistemas oceánicos y a los peces, no está de más recordar que el
                ser humano, después, ingiere esos peces.

                Según el informe de Ocean Conservancy, desde los años ochenta ha limpiado cerca de más de 60 millones de
                colillas, que contaminan los océanos de todo el mundo. El número que todavía se encuentra en las aguas
                de los océanos supera al de cualquier otro tipo de residuo.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
              class="collapsed">¿Los mares mas contaminados de México?<i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Las playas aptas para su uso recreativo que presentan una mayor concentración de enterococos son:
              </p>
              <ul>
                <li>Playa de Rosarito, Baja California (177 enterococos por cada 100 mililitros de agua).</li>
                <li>Playa Principal de Zihuatanejo, Guerrero (166 enterococos por cada 100 mililitros de agua).</li>
                <li>Playa Lindo México en San Felipe, Baja California (145 enterococos por cada 100 mililitros de agua).</li>
                <li>Playa Las Glorias en Guasave, Sinaloa (149 enterococos por cada 100 mililitros de agua).</li>
                <li>Playa Mocambo, Veracruz (112 enterococos por cada 100 mililitros de agua).</li>
              </ul>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
              class="collapsed">¿Cómo podemos ayudar?<i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <li>Utiliza menos productos de plástico.</li>
              <li>Haz compras sostenibles de productos de mar.</li>
              <li>Usa productos biodegradables en las playas.</li>
              <li>No tires basura en las playas.</li>
              <li>Viaja por el mar responsablemente.</li>
              <li>No compres productos que afectan la vida marina.</li>
              <li>Reduce las emisiones de CO2 y consumo de energía.</li>
              <li>Apoya organizaciones que trabajan a favor de los océanos.</li>
              <li>No bebas agua embotellada.</li>
              <li>Reduce y recicla.</li>
            </div>
          </li>
<!-- 
          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
              class="collapsed">¿Hay vuelta atrás o estamos perdidos?<i class="bx bx-chevron-down icon-show"></i><i
                class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                gravida quis blandit turpis cursus in.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
              class="collapsed">Lo que provoca una colilla que se tira en la playa<i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada
                nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                tellus in metus vulputate eu scelerisque.
              </p>
            </div>
          </li> -->

        </ul>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contacto y Reportes</h2>
        <p>Comparte tus datos con nosotros, si tienes alguna sugerencia de mejora estamos dispuestos a escucharla.</p>
        <p>En la misma disposición, este apartado esta para generar una denuncia ciudadana sobre personas, empresas,
          etc., que estemn contaminando la playa.</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">


            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>launchx01682@innovaccion.mx</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107847.21416595821!2d-117.05740245!3d32.3594973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9313f72cece1b%3A0x7a0ec61c8d78d247!2sRosarito%2C%20B.C.!5e0!3m2!1ses-419!2smx!4v1652552251078!5m2!1ses-419!2smx"
              frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Nombre</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Correo electrónico</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Asunto</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Mensaje</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button class="btn btn-success" (click)="form()">Enviar</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>WasteMoney</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->