<nav class="navbar navbar-expand-lg colorNav fix">
    <div class="container-fluid">
        <a class="navbar-brand title">DÄZABI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/main']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ayuda']">Ayuda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/historial']">Historial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" >Mi perfil</a>
                </li>
                <a class="btn btn-salir" (click)="salir()"><i class="fas fa-sign-out-alt"></i></a>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid pad" align="center">
    <div class="col-12">
        <div class="row">
            <div class="col-sm-3">
                <h1>Mi perfil</h1>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{usuario}}</h5>
                        <p class="card-text">{{correo}}</p>
                    </div>
                    <img src="https://avatars.githubusercontent.com/u/67239474?s=400&u=37d07093d009a8ee9c33fb8a0cbe8f44c8df0f26&v=4"
                        class="card-img-top" alt="...">
                    <br>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <button class="btn btn-success mx-auto">Actualizar foto de perfil <i
                            class="fas fa-camera"></i></button>
                </div>
            </div>
            <div class="col-sm-9"  align="center">
                <h1>Editar mi perfil</h1><br><br>
                <form (ngSubmit)="update(form)" #form="ngForm" class="col-sm-6">
                    <div class="mb-3">
                        <label class="form-label">Nombre de Usuario</label>
                        <input type="text" name="usuario" [(ngModel)]="perfil.usuario" class="form-control">
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div> -->
                    <div class="mb-3">
                        <label class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" name="correo" [(ngModel)]="perfil.correo">
                    </div>
                    <!-- <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div> -->
                    <button type="submit" class="btn btn-primary">Actualizar información</button>
                </form>
            </div>

        </div>
    </div>
</div>